<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends 'main.html' %}

{% block content %}

{% if page == 'register' %}
    <h1>register user</h1>

    <!-- <div class="login-page">
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
            <div class="form-group">
                {% for field in form %}
                <label for="username">{{field.label}}</label>
                {{field}}

                {% endfor %}
            </div>
            <input type="submit" class="btn btn-primary" value="Register user"/>

        </form>
    </div> -->
{% else %}
    <div class="login-page">
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Enter username">
            <small id="usernameHelp" class="form-text text-muted">We'll never share your credentials with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <p><a href="{% url 'register' %}">Sign Up</a></p>
    </div>
{% endif %}

{% endblock content %}

</body>
</html>