.navbar-items {
        padding: 0.5rem 25%;
}

.warehouse-img {
    padding: 25px;
}


.product-table {
    width: 45%;
    margin: auto;
}

.td-number {
    text-align: right;
}

.btn-spec {
    padding: 0;
    width: 100px;
    height: 25px;
}


.login-page{
    width: 20%;
    margin: auto;
    padding-top: 5px;
}
